<?php

declare(strict_types=1);

use Kartenmacherei\CodingStandard\KamStandard2017Php70;
use PhpCsFixer\Finder;

$config = new KamStandard2017Php70();

return $config
    ->setCacheFile('php_cs.cache')
    ->setFinder(
        Finder::create()
            ->in('src')
            ->in('tests')
            ->in('app')
            ->in('public')
    );
